/*
 *
 * Login CSS
 *
 */

 .navbar-login {
    width: 100%;
    text-align: center;
}

.login-page {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 90%;
   width: 100%;
}
.login-container {
        @extend .tracking-in-contract-bck-bottom;
}
/*Animation*/
.login-actived {
        @extend .tracking-out-expand-fwd-top;        
}
.login-page h1 {
   text-align: center;

}

.login-card {
   text-align: center;
   border: 1px solid;
   border-radius: .5em
}

.login-card-inner {
   margin: 3em 5em;
}

.user img {
   border-radius: 50%;
   border: solid 2px $color-dark;
}
.user h4 {
   margin: .5em;
}
.user .name h4 {
   font-weight: 300;
}
.user .bank h4 {
   font-weight: 300;
}

hr {
   margin: 1em;
}

.input {
   margin-bottom: 1em;
}
.input input {
   width: 100%;
   border: 0px;
   background-color: transparent;
   border-bottom: 1px solid $color-text;;
   padding: 1em 0;
   outline: none;
}

.input input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: $color-text;
}
.input input::-moz-placeholder { /* Firefox 19+ */
 color: $color-text;
}
.input input:-ms-input-placeholder { /* IE 10+ */
 color: $color-text;
}
.input input:-moz-placeholder { /* Firefox 18- */
 color: $color-text;
}

button {
   border: 1px solid $color-text;;
   padding: .75em;
   border-radius: .25em;
   background-color: transparent;
   width: 100%;
   color: $color-text;
   font-weight: 600;
   text-transform: uppercase;
}

button:active,button:hover {
   background-color: $color-text;
   border-radius: .25em;
   border-color: $color-dark;
   font-weight: 600;
   color: $color-dark;
}

/*---------------- */