@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600');

html, body {
	font-family: 'Raleway', sans-serif;
	background: #2D7C91;
	height: 100vh;
	margin: 0;
	color: #f9f0f0;
	overflow-x: hidden;
}

nav {
	background-color: rgba(0,0,0,.5); width: 100%;
}

nav .logo {
	color: inherit;
	text-decoration: none;
	font-weight: 600;
	font-size: 3em;
	padding-left: 1em;
}

nav .navbar {
	display: flex;
	align-items: center;
}

nav .userlogged {
	margin-left: auto;
	display: flex;
	margin-right: 1.5em;
	cursor: pointer; 
}
nav .userlogged img{
	border-radius: 50%;
	margin: auto;
}
nav .userlogged .userlogged-text {
	text-align: center;
	max-height: 50%;
	margin: auto;
}

nav .userlogged .userlogged-text h6 {
	margin: .5em;
	font-weight: 300;
}

nav .userlogged-options {
	position: absolute;
	top: 7.3%;
    background-color: rgba(0,0,0,.5);
    width:  100%;
    transform: translateX(1000px);
}

/*Animation*/
.slide-in {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-out {
	-webkit-animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

nav .userlogged-options ul{
	list-style-type: none;
}

nav .userlogged-options li {
	margin: 1em 0;
}

nav .userlogged-options a {
	text-decoration: none;
	color: inherit;
}

.transferList-page h1 {
	margin-left: 1.5em;
}

.transferList-wrap {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.transfer-card {
    margin: 1em 1.5em;
    border: 1px solid;
    border-radius: .25em;
	padding: 1em 2em;
	-webkit-animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.transfer-card div {
	margin: 1em;
}

.transfer-card h4,h5 {
	display: inline;
}
.transfer-card h5 {
	font-weight: 300;
}

@media screen and (max-width: 768px) {
	.transferList-wrap {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}	

	.transfer-card {
		margin: .5em 1.5em;
		border: 1px solid;
		border-radius: .25em;
		padding: 0 2em;
		-webkit-animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
				animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	}
}

/*
 *
 * Login CSS
 *
 */

 .navbar-login {
 	width: 100%;
 	text-align: center;
 }

.login-page {
	display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
}
.login-container {
	-webkit-animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/*Animation*/
.login-actived {
	-webkit-animation: tracking-out-expand-fwd-top 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: tracking-out-expand-fwd-top 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.login-page h1 {
	text-align: center;

}

.login-card {
	text-align: center;
	border: 1px solid;
	border-radius: .5em
}

.login-card-inner {
	margin: 3em 5em;
}

.user img {
	border-radius: 50%;
	border: solid 2px rgba(0,0,0,.5);
}
.user h4 {
	margin: .5em;
}
.user .name h4 {
	font-weight: 300;
}
.user .bank h4 {
	font-weight: 300;
}

hr {
	margin: 1em;
}

.input {
	margin-bottom: 1em;
}
.input input {
	width: 100%;
	border: 0px;
	background-color: transparent;
	border-bottom: 1px solid #f9f0f0;;
	padding: 1em 0;
	outline: none;.
}

.input input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #f9f0f0;
}
.input input::-moz-placeholder { /* Firefox 19+ */
  color: #f9f0f0;
}
.input input:-ms-input-placeholder { /* IE 10+ */
  color: #f9f0f0;
}
.input input:-moz-placeholder { /* Firefox 18- */
  color: #f9f0f0;
}

button {
	border: 1px solid #f9f0f0;;
	padding: .75em;
	border-radius: .25em;
	background-color: transparent;
	width: 100%;
	color: #f9f0f0;
	font-weight: 600;
	text-transform: uppercase;
}

button:active,button:hover {
	background-color: #f9f0f0;;
	border-radius: .25em;
	border-color: rgba(0,0,0,.5);
	font-weight: 600;
	color: rgba(0,0,0,.5);
}

/*---------------- */


/* ----------------------------------------------
 * Generated by Animista on 2018-7-4 21:30:43
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
 @-webkit-keyframes scale-up-ver-center {
	0% {
	  -webkit-transform: scaleY(0.4);
			  transform: scaleY(0.4);
	}
	100% {
	  -webkit-transform: scaleY(1);
			  transform: scaleY(1);
	}
  }
  @keyframes scale-up-ver-center {
	0% {
	  -webkit-transform: scaleY(0.4);
			  transform: scaleY(0.4);
	}
	100% {
	  -webkit-transform: scaleY(1);
			  transform: scaleY(1);
	}
  }


/**
* ----------------------------------------
* animation tracking-in-contract-bck-bottom
* ----------------------------------------
*/
@-webkit-keyframes tracking-in-contract-bck-bottom {
 0% {
   letter-spacing: 1em;
   -webkit-transform: translateZ(400px) translateY(300px);
           transform: translateZ(400px) translateY(300px);
   opacity: 0;
 }
 40% {
   opacity: 0.6;
 }
 100% {
   -webkit-transform: translateZ(0) translateY(0);
           transform: translateZ(0) translateY(0);
   opacity: 1;
 }
}
@keyframes tracking-in-contract-bck-bottom {
 0% {
   letter-spacing: 1em;
   -webkit-transform: translateZ(400px) translateY(300px);
           transform: translateZ(400px) translateY(300px);
   opacity: 0;
 }
 40% {
   opacity: 0.6;
 }
 100% {
   -webkit-transform: translateZ(0) translateY(0);
           transform: translateZ(0) translateY(0);
   opacity: 1;
 }
}

/**
* ----------------------------------------
* animation tracking-out-expand-fwd-top
* ----------------------------------------
*/
@-webkit-keyframes tracking-out-expand-fwd-top {
 0% {
   -webkit-transform: translateZ(0) translateY(0);
           transform: translateZ(0) translateY(0);
   opacity: 1;
 }
 60% {
   opacity: 0.8;
 }
 100% {
   letter-spacing: 1em;
   -webkit-transform: translateZ(300px) translateY(-200px);
           transform: translateZ(300px) translateY(-200px);
   opacity: 0;
 }
}
@keyframes tracking-out-expand-fwd-top {
 0% {
   -webkit-transform: translateZ(0) translateY(0);
           transform: translateZ(0) translateY(0);
   opacity: 1;
 }
 60% {
   opacity: 0.8;
 }
 100% {
   letter-spacing: 1em;
   -webkit-transform: translateZ(300px) translateY(-200px);
           transform: translateZ(300px) translateY(-200px);
   opacity: 0;
 }
}

/**
* ----------------------------------------
* animation slide-in-right
* ----------------------------------------
*/
@-webkit-keyframes slide-in-right {
 0% {
   -webkit-transform: translateX(1000px);
           transform: translateX(1000px);
   opacity: 0;
 }
 100% {
   -webkit-transform: translateX(0);
           transform: translateX(0);
   opacity: 1;
 }
}
@keyframes slide-in-right {
 0% {
   -webkit-transform: translateX(1000px);
           transform: translateX(1000px);
   opacity: 0;
 }
 100% {
   -webkit-transform: translateX(0);
           transform: translateX(0);
   opacity: 1;
 }
}
/**
* ----------------------------------------
* animation slide-out-right
* ----------------------------------------
*/
@-webkit-keyframes slide-out-right {
 0% {
   -webkit-transform: translateX(0);
           transform: translateX(0);
   opacity: 1;
 }
 100% {
   -webkit-transform: translateX(1000px);
           transform: translateX(1000px);
   opacity: 0;
 }
}
@keyframes slide-out-right {
 0% {
   -webkit-transform: translateX(0);
           transform: translateX(0);
   opacity: 1;
 }
 100% {
   -webkit-transform: translateX(1000px);
           transform: translateX(1000px);
   opacity: 0;
 }
}