<!DOCTYPE html>
<html ng-app="App">
<head>
	<base href="/">
	<meta charset="UTF-8">
	<title>NIX - Lista de Transferências</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

	<header ng-controller="AppController">
		<nav>
			<div class="navbar">
				<div class="navbar-brand">
					<a href="/home" class="logo">NIX</a>
				</div>
				<div class="userlogged" ng-if="!login" ng-click="userMenu()" ng-controller="UserController">
					<img src="{{user.thumbnail}}">
					<div class="userlogged-text">
						<h6>{{user.name}}</h6>
						<h6>CC 1234-0 AG 789123-5</h6>
					</div>
					<div class="userlogged-options">
						<ul>
							<li><a href="/transferencias">Transferências</a></li>
							<li><a href="/login">Sair</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</header>

	<ng-view></ng-view>

	<script src="./assets/scripts/angular.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-route.js"></script>
	<script src="app/app.module.js"></script>
	<script src="app/app.controller.js"></script>
	<script src="services/transfer.factory.js"></script>
	<script src="services/person.factory.js"></script>
	<script src="pages/home/home.controller.js"></script>
	<script src="pages/filter/filter.controller.js"></script>
	<script src="pages/login/login.controller.js"></script>
	<script src="pages/transfer-details/transfer-details.controller.js"></script>
	<script src="pages/transfer-list/transfer-list.controller.js"></script>
</body>
</html>
